[submodule "sekai-master-db-diff"]
	path = sekai-master-db-diff
	url = https://github.com/Sekai-World/sekai-master-db-diff.git
[submodule "sekai-master-db-kr-diff"]
	path = sekai-master-db-kr-diff
	url = https://github.com/Sekai-World/sekai-master-db-kr-diff.git
